{% extends 'splatourneyApp/base.html' %}
{% load static %}
{% block title %} <h1> Manage Moderators </h1> {% endblock %}

{% block navbar %}
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'tournament_details' %}">DETAILS <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'view_registrations' %}">TEAMS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">LIVE BRACKET</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'pairing_screens' %}">PAIRINGS</a>
  </li>
{% endblock %}


    {% block content %}
    <body>
        <!--Solo Heading-->
        <div class="row">
            <div class = "col-10">
                <h2 class="mt-3 mb-4" style="font-weight: bold; text-align: left; color:white">Manage Moderators</h2>
            </div>
            <!--Button to Create team-->
            <div class = "col-2">
                <a href="{% url 'create_moderator' %}"  class="button" style="text-decoration:none; background-color:#f93195; color:white; padding:5px; border-radius:4px; width:150px"> Create Moderator </a>
            </div>
        </div>
        <!--Header for Solo Registrations-->
        <div class="table-responsive" style="max-height: 500px;">
            <table class="table table-hover shadow-sm" style="background-color: #FFFFFF;">
               
                <thead>
                    <tr>
                        <th class="table-dark" style="background-color: rgb(89, 89, 89)" scope="col"> User Name </th>
                        <th class="table-dark" style="background-color:  rgb(89, 89, 89)" scope="col"> Button </th>
                    </tr>
                </thead>

                <tbody class="table-group-divider">
                    {% for p in Player %}
                        <tr>
                                <td> {{ p.getPlayerFullName }} </td>
                                <td>
                                    <!--Buttons: Options-->    
                                    <a href="#" class="btn btn-dark shadow-sm" style="background-color: #f93195; border-color: #f93195;"> DELETE </a>
                                </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
{% endblock %}
