{% extends 'Splatourneyapp/base.html' %}
{% block title %} <h1> Team Registration </h1> {% endblock %}

{% block content %}

<link rel ="stylesheet" href="splatourney.css">
  <body>
    <style>
      body{
        background-color: transparent;
      }
      .card{
        background-color: #D9D9D9;
        width:800px;
        padding-top: 60px;
        padding-bottom: 40px;
        padding-left: 40px;
        padding-right: 40px;

      }

      .card-title{
        text-decoration:solid;
      }
  
      .form{
        flex-direction: row;
      }

      .form-control{
        border: none;
        border-radius: 10px;
      }

      .form-select{
        border: none;
        border-radius: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 50px;
      }
    
      .btn-primary {
        color: white;
        background-color:#008CC6;
        border: none;
        border-radius: 10px;

        
      }

  .contained {
      padding-top: 20px;
      padding-bottom: 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      box-sizing: border-box; /* Ensure padding is included in height calculation */
  }
  .btn-custom {
      width: 400px;
      height: 52px;
      font-size: 1.2em;
      margin: 10px;
      border: none;
      padding: 10px 20px;
      border-radius: 15px;
      font-family: 'Luckiest Guy', sans-serif;
      font-size: 30px;
      font-weight: 300;
      line-height: 35px;
      letter-spacing: 0em;
      text-align: center;
      color:white;
  }
  .current {
      background-color: #ef216c;
  }
  .others {
      background-color: #008CC6;
  }
  p {
      font-family: 'Oswald', sans-serif;
      font-size: 40px;
      font-weight: 400;
      line-height: 44px;
      letter-spacing: 0em;
      text-align: center;
      color:white;}
</style>
      <div id="p1start"></div> 
      <!-- for scrolling... dont question why this is here -->
      <p>TEAM REGISTRATION</p>
      <div class="contained">
          <a href="#p1start" class="btn btn-custom others">Player 1</a>
          <a href="#p2start" class="btn btn-custom others">Player 2</a>
          <a href="#p3start" class="btn btn-custom others">Player 3</a>
          <a href="#p4start" class="btn btn-custom others">Player 4</a>
          <a href="#p5start" class="btn btn-custom others">Player 5</a>
          <a href="#p6start" class="btn btn-custom others">Player 6</a>
      </div>
    <div class="container min-vh-100 d-flex justify-content-center align-items-center width-300px padding-bottom-5px">
      <div class="card">
        <div class="card-body">
          <form id="createTeam" method="POST" action="{% url 'team_registration' %}"> {% csrf_token %}

            <div class="mb-3">
              <h2 class="mb-3">TEAM NAME</h2>
                  <input type="text" class="form-control" id="Team_Name" name="Team_Name" placeholder="Enter Team name">
            </div>     
            <h2 class="mb-3 mt-5">PLAYER 1</h2>
            <div class="mb-3">
              <label for="p1fname" class="form-label">FIRST NAME</label>
              <input type="text" class="form-control" id="p1fname" name="p1fname" placeholder="Enter First Name">
            </div>
            <div class="mb-3">
              <label for="p1lname" class="form-label">LAST NAME</label>
              <input type="text" class="form-control" id="p1lname" name="p1lname" placeholder="Enter Last Name">
            </div>
            <div class="mb-3">
              <label for="p1ign" class="form-label">IGN</label>
              <input type="text" class="form-control" id="p1ign" name="p1ign" placeholder="Enter in-game name">
            </div>
            <div class="mb-3">
              <label for="PlayerDiscordID" class="form-label"> Discord ID</label>
              <input type="text" class="form-control" id="PlayerDiscordIDInput" name="p1dc" placeholder="Enter Discord ID">
            </div>
            <div class="mb-3">
              <label for="PlayerFriendCode" class="form-label">Friend Code</label>
              <input type="text" class="form-control" id="PlayerFriendCodeInput" name="p1fc" placeholder="Enter Friend Code">
            </div>
            <div class="mb-3">
              <label for = "p1rank" class="form-label">CURRENT SPLATOON RANK</label>
              <select class="form-select" id="p1rank" name="p1rank">
                <option selected>Select Rank</option>
                <option value="1">C-</option>
                <option value="2">C</option>
                <option value="3">C+</option>
                <option value="4">B-</option>
                <option value="5">B</option>
                <option value="6">B+</option>
                <option value="7">A-</option>
                <option value="8">A</option>
                <option value="9">A+</option>
                <option value="10">S</option>
                <option value="11">S+</option>
                <option value="12">X 0-500</option>
                <option value="13">X 501-1000</option>
                <option value="14">X 1001-1500</option>
                <option value="15">X 1501-2000</option>
                <option value="16">X 2001-2500</option>
                <option value="17">X 2501-3000</option>
              </select>

              <div class="mb-3 justify-content-center" style="position:relative">
                <label for="roles" class="form-label pt-3">PREFERRED TEAM ROLES</label>
                <!--<div class="mb-3" style="margin-left: 50px;">
                  
                  <input type="checkbox" class="form-check-input" id="p1front-line" value="Front-line">
                  <label class="form-check-label" for="front-line">Front-line</label>

                  <input type="checkbox" class="form-check-input" id="p1slayer" style="margin-left:25px;" value="Slayer">
                  <label class="form-check-label" for="slayer" style="margin-left:50px">Slayer</label>
                </div>
                <div class="mb-3" style="margin-left: 50px;">
                  <input type="checkbox" class="form-check-input" id="p1mid-line" value="Mid-Line">
                  <label class="form-check-label" for="mid-line"style="margin-left:1px">Mid-line</label>

                  <input type="checkbox" class="form-check-input" id="p1skirmisher" style="margin-left:37px;" value="Skirmsher">
                  <label class="form-check-label" for="skirmisher"style="margin-left:60px">Skirmisher</label>
                </div>
                <div class="mb-3" style="margin-left: 50px;">
                  <input type="checkbox" class="form-check-input" id="p1back-line" value="Back-line">
                  <label class="form-check-label" for="back-line">Back-line</label>

                  <input type="checkbox" class="form-check-input" id="p1support"style="margin-left:30px;" value="Support">
                  <label class="form-check-label" for="support"style="margin-left:50px">Support</label>
                </div>-->
                <select class="form-select" name="p1role">
                  <option selected>Select Role</option>
                  <option value="Front-line">Front-line</option>
                  <option value="Slayer">Slayer</option>
                  <option value="Mid-Line">Mid-Line</option>
                  <option value="Skirmisher">Skirmisher</option>
                  <option value="Back-Line">Back-Line</option>
                  <option value="Support">Support</option>
                </select>
              </div>

              <div class="mb-3 justify-content-center" style="position:relative">
                <label for = "p1type" class="form-label">PLAYER TYPE</label>
                <div class="mb-3" style="margin-left: 50px;">
                  <input type="radio" class="form-check-input" id="cap" name="p1type">
                  <label class="form-check-label" for="p1type">Captain</label>
                </div>

                <div id="p2start"></div> 
                <!-- for scrolling... dont question why this is here -->
                
                <div class="mb-3" style="margin-left: 50px;">
                  <input type="radio" class="form-check-input" id="cocap" name="p1type">
                  <label class="form-check-label" for="p1type">Co-Captain</label>
                </div>

                <div class="mb-3" style="margin-left: 50px;">
                  <input type="radio" class="form-check-input" id="mem" name="p1type">
                <label class="form-check-label" for="p1type">Member</label>
                </div>
                
              </div>
            </div>

            <!-- PLAYER 2 START -->
            <h2 class="mt-5">PLAYER 2</h2>
            <div class="mb-3">
              <label for="p2fname" class="form-label">FIRST NAME</label>
              <input type="text" class="form-control" id="p2fname" name="p2fname" placeholder="Enter First Name">
            </div>
            <div class="mb-3">
              <label for="p2lname" class="form-label">LAST NAME</label>
              <input type="text" class="form-control" id="p2lname" name="p2lname" placeholder="Enter Last Name">
            </div>
            <div class="mb-3">
              <label for="p2ign" class="form-label">IGN</label>
              <input type="text" class="form-control" id="p2ign" name="p2ign" placeholder="Enter in-game name">
            </div>
            <div class="mb-3">
              <label for="PlayerDiscordID" class="form-label"> Discord ID</label>
              <input type="text" class="form-control" id="PlayerDiscordIDInput" name="p2dc" placeholder="Enter Discord ID">
            </div>
            <div class="mb-3">
              <label for="PlayerFriendCode" class="form-label">Friend Code</label>
              <input type="text" class="form-control" id="PlayerFriendCodeInput" name="p2fc" placeholder="Enter Friend Code">
            </div>
            <div class="mb-3">
              <label for = "p2rank" class="form-label">CURRENT SPLATOON RANK</label>
              <select class="form-select" id="p2rank" name="p2rank">
                <option selected>Select Rank</option>
                <option value="1">C-</option>
                <option value="2">C</option>
                <option value="3">C+</option>
                <option value="4">B-</option>
                <option value="5">B</option>
                <option value="6">B+</option>
                <option value="7">A-</option>
                <option value="8">A</option>
                <option value="9">A+</option>
                <option value="10">S</option>
                <option value="11">S+</option>
                <option value="12">X 0-500</option>
                <option value="13">X 501-1000</option>
                <option value="14">X 1001-1500</option>
                <option value="15">X 1501-2000</option>
                <option value="16">X 2001-2500</option>
                <option value="17">X 2501-3000</option>
              </select>

              <div class="mb-3 justify-content-center" style="position:relative">
                <label for="roles" class="form-label pt-3">PREFERRED TEAM ROLES</label>
                <!--<div class="mb-3" style="margin-left: 50px;">
                  <input type="checkbox" class="form-check-input" id="p2front-line" value="Front-line">
                  <label class="form-check-label" for="front-line">Front-line</label>

                  <input type="checkbox" class="form-check-input" id="p2slayer" style="margin-left:25px;" value="Slayer">
                  <label class="form-check-label" for="slayer" style="margin-left:50px">Slayer</label>
                </div>
                <div class="mb-3" style="margin-left: 50px;">
                  <input type="checkbox" class="form-check-input" id="p2mid-line" value="Mid-Line">
                  <label class="form-check-label" for="mid-line"style="margin-left:1px">Mid-line</label>

                  <input type="checkbox" class="form-check-input" id="p2skirmisher" style="margin-left:37px;" value="Skirmsher">
                  <label class="form-check-label" for="skirmisher"style="margin-left:60px">Skirmisher</label>
                </div>
                <div class="mb-3" style="margin-left: 50px;">
                  <input type="checkbox" class="form-check-input" id="p2back-line" value="Back-line">
                  <label class="form-check-label" for="back-line">Back-line</label>

                  <input type="checkbox" class="form-check-input" id="p2support"style="margin-left:30px;" value="Support">
                  <label class="form-check-label" for="support"style="margin-left:50px">Support</label>
                </div>-->
                <select class="form-select" name="p2role">
                  <option selected>Select Role</option>
                  <option value="Front-line">Front-line</option>
                  <option value="Slayer">Slayer</option>
                  <option value="Mid-Line">Mid-Line</option>
                  <option value="Skirmisher">Skirmisher</option>
                  <option value="Back-Line">Back-Line</option>
                  <option value="Support">Support</option>
                </select>
              </div>

              <div class="mb-3 justify-content-center" style="position:relative">
                <label for = "p2type" class="form-label">PLAYER TYPE</label>
                <div class="mb-3" style="margin-left: 50px;">
                  <input type="radio" class="form-check-input" id="cap" name="p2type">
                  <label class="form-check-label" for="p2type">Captain</label>
                </div>
                
                <div id="p3start"></div> 
                <!-- for scrolling... dont question why this is here -->

                <div class="mb-3" style="margin-left: 50px;">
                  <input type="radio" class="form-check-input" id="cocap" name="p2type">
                  <label class="form-check-label" for="p2type">Co-Captain</label>
                </div>
                
                <div class="mb-3" style="margin-left: 50px;">
                  <input type="radio" class="form-check-input" id="mem" name="p2type">
                <label class="form-check-label" for="p2type">Member</label>
                </div>
                
              </div>
            </div>

            <!-- PLAYER 3 START -->
            <h2 class="mt-5">PLAYER 3</h2>
            <div class="mb-3">
              <label for="p3fname" class="form-label">FIRST NAME</label>
              <input type="text" class="form-control" id="p3fname" name="p3fname" placeholder="Enter First Name">
            </div>
            <div class="mb-3">
              <label for="p3lname" class="form-label">LAST NAME</label>
              <input type="text" class="form-control" id="p3lname" name="p3lname" placeholder="Enter Last Name">
            </div>
            <div class="mb-3">
              <label for="p3ign" class="form-label">IGN</label>
              <input type="text" class="form-control" id="p3ign" name="p3ign" placeholder="Enter in-game name">
            </div>
            <div class="mb-3">
              <label for="PlayerDiscordID" class="form-label"> Discord ID</label>
              <input type="text" class="form-control" id="PlayerDiscordIDInput" name="p3dc" placeholder="Enter Discord ID">
            </div>
            <div class="mb-3">
              <label for="PlayerFriendCode" class="form-label">Friend Code</label>
              <input type="text" class="form-control" id="PlayerFriendCodeInput" name="p3fc" placeholder="Enter Friend Code">
            </div>
            <div class="mb-3">
              <label for = "p2rank" class="form-label">CURRENT SPLATOON RANK</label>
              <select class="form-select" id="p3rank" name="p3rank">
                <option selected>Select Rank</option>
                <option value="1">C-</option>
                <option value="2">C</option>
                <option value="3">C+</option>
                <option value="4">B-</option>
                <option value="5">B</option>
                <option value="6">B+</option>
                <option value="7">A-</option>
                <option value="8">A</option>
                <option value="9">A+</option>
                <option value="10">S</option>
                <option value="11">S+</option>
                <option value="12">X 0-500</option>
                <option value="13">X 501-1000</option>
                <option value="14">X 1001-1500</option>
                <option value="15">X 1501-2000</option>
                <option value="16">X 2001-2500</option>
                <option value="17">X 2501-3000</option>
              </select>

              <div class="mb-3 justify-content-center" style="position:relative">
                <label for="roles" class="form-label pt-3">PREFERRED TEAM ROLES</label>
                <!--<div class="mb-3" style="margin-left: 50px;">
                  
                  <input type="checkbox" class="form-check-input" id="p3front-line" value="Front-line">
                  <label class="form-check-label" for="front-line">Front-line</label>

                  <input type="checkbox" class="form-check-input" id="p3slayer" style="margin-left:25px;" value="Slayer">
                  <label class="form-check-label" for="slayer" style="margin-left:50px">Slayer</label>
                </div>
                <div class="mb-3" style="margin-left: 50px;">
                  <input type="checkbox" class="form-check-input" id="p3mid-line" value="Mid-Line">
                  <label class="form-check-label" for="mid-line"style="margin-left:1px">Mid-line</label>

                  <input type="checkbox" class="form-check-input" id="p3skirmisher" style="margin-left:37px;" value="Skirmsher">
                  <label class="form-check-label" for="skirmisher"style="margin-left:60px">Skirmisher</label>
                </div>
                <div class="mb-3" style="margin-left: 50px;">
                  <input type="checkbox" class="form-check-input" id="p3back-line" value="Back-line">
                  <label class="form-check-label" for="back-line">Back-line</label>

                  <input type="checkbox" class="form-check-input" id="p3support"style="margin-left:30px;" value="Support">
                  <label class="form-check-label" for="support"style="margin-left:50px">Support</label>
                </div>-->
                <select class="form-select" name="p3role">
                  <option selected>Select Role</option>
                  <option value="Front-line">Front-line</option>
                  <option value="Slayer">Slayer</option>
                  <option value="Mid-Line">Mid-Line</option>
                  <option value="Skirmisher">Skirmisher</option>
                  <option value="Back-Line">Back-Line</option>
                  <option value="Support">Support</option>
                </select>
              </div>

              <div class="mb-3 justify-content-center" style="position:relative">
                <label for = "p3type" class="form-label">PLAYER TYPE</label>
                <div class="mb-3" style="margin-left: 50px;">
                  <input type="radio" class="form-check-input" id="cap" name="p3type">
                  <label class="form-check-label" for="p3type">Captain</label>
                </div>
                
                <div id="p4start"></div> 
                <!-- for scrolling... dont question why this is here -->

                <div class="mb-3" style="margin-left: 50px;">
                  <input type="radio" class="form-check-input" id="cocap" name="p3type">
                  <label class="form-check-label" for="p3type">Co-Captain</label>
                </div>
                
                <div class="mb-3" style="margin-left: 50px;">
                  <input type="radio" class="form-check-input" id="mem" name="p3type">
                <label class="form-check-label" for="p3type">Member</label>
                </div>
                
              </div>
            </div>

            <!-- PLAYER 4 START -->
            <h2 class="mt-5">PLAYER 4</h2>
            <div class="mb-3">
              <label for="p4fname" class="form-label">FIRST NAME</label>
              <input type="text" class="form-control" id="p4fname" name="p4fname" placeholder="Enter First Name">
            </div>
            <div class="mb-3">
              <label for="p4lname" class="form-label">LAST NAME</label>
              <input type="text" class="form-control" id="p4lname" name="p4lname" placeholder="Enter Last Name">
            </div>
            <div class="mb-3">
              <label for="p4ign" class="form-label">IGN</label>
              <input type="text" class="form-control" id="p4ign" name="p4ign" placeholder="Enter in-game name">
            </div>
            <div class="mb-3">
              <label for="PlayerDiscordID" class="form-label"> Discord ID</label>
              <input type="text" class="form-control" id="PlayerDiscordIDInput" name="p4dc" placeholder="Enter Discord ID">
            </div>
            <div class="mb-3">
              <label for="PlayerFriendCode" class="form-label">Friend Code</label>
              <input type="text" class="form-control" id="PlayerFriendCodeInput" name="p4fc" placeholder="Enter Friend Code">
            </div>
            <div class="mb-3">
              <label for = "p4rank" class="form-label">CURRENT SPLATOON RANK</label>
              <select class="form-select" id="p4rank" name="p4rank">
                <option selected>Select Rank</option>
                <option value="1">C-</option>
                <option value="2">C</option>
                <option value="3">C+</option>
                <option value="4">B-</option>
                <option value="5">B</option>
                <option value="6">B+</option>
                <option value="7">A-</option>
                <option value="8">A</option>
                <option value="9">A+</option>
                <option value="10">S</option>
                <option value="11">S+</option>
                <option value="12">X 0-500</option>
                <option value="13">X 501-1000</option>
                <option value="14">X 1001-1500</option>
                <option value="15">X 1501-2000</option>
                <option value="16">X 2001-2500</option>
                <option value="17">X 2501-3000</option>
              </select>

              <div class="mb-3 justify-content-center" style="position:relative">
                <label for="roles" class="form-label pt-3">PREFERRED TEAM ROLES</label>
                <!--<div class="mb-3" style="margin-left: 50px;">
                  
                  <input type="checkbox" class="form-check-input" id="p4front-line" value="Front-line">
                  <label class="form-check-label" for="front-line">Front-line</label>

                  <input type="checkbox" class="form-check-input" id="p4slayer" style="margin-left:25px;" value="Slayer">
                  <label class="form-check-label" for="slayer" style="margin-left:50px">Slayer</label>
                </div>
                <div class="mb-3" style="margin-left: 50px;">
                  <input type="checkbox" class="form-check-input" id="p4mid-line" value="Mid-Line">
                  <label class="form-check-label" for="mid-line"style="margin-left:1px">Mid-line</label>

                  <input type="checkbox" class="form-check-input" id="p4skirmisher" style="margin-left:37px;" value="Skirmsher">
                  <label class="form-check-label" for="skirmisher"style="margin-left:60px">Skirmisher</label>
                </div>
                <div class="mb-3" style="margin-left: 50px;">
                  <input type="checkbox" class="form-check-input" id="p4back-line" value="Back-line">
                  <label class="form-check-label" for="back-line">Back-line</label>

                  <input type="checkbox" class="form-check-input" id="p4support"style="margin-left:30px;" value="Support">
                  <label class="form-check-label" for="support"style="margin-left:50px">Support</label>
                </div>-->
                <select class="form-select" name="p4role">
                  <option selected>Select Role</option>
                  <option value="Front-line">Front-line</option>
                  <option value="Slayer">Slayer</option>
                  <option value="Mid-Line">Mid-Line</option>
                  <option value="Skirmisher">Skirmisher</option>
                  <option value="Back-Line">Back-Line</option>
                  <option value="Support">Support</option>
                </select>
              </div>

              <div class="mb-3 justify-content-center" style="position:relative">
                <label for = "p4type" class="form-label">PLAYER TYPE</label>
                <div class="mb-3" style="margin-left: 50px;">
                  <input type="radio" class="form-check-input" id="cap" name="p4type">
                  <label class="form-check-label" for="p4type">Captain</label>
                </div>
                
                <div id="p5start"></div> 
                <!-- for scrolling... dont question why this is here -->

                <div class="mb-3" style="margin-left: 50px;">
                  <input type="radio" class="form-check-input" id="cocap" name="p4type">
                  <label class="form-check-label" for="p4type">Co-Captain</label>
                </div>
                
                <div class="mb-3" style="margin-left: 50px;">
                  <input type="radio" class="form-check-input" id="mem" name="p4type">
                <label class="form-check-label" for="p4type">Member</label>
                </div>
                
              </div>
            </div>

            <!-- PLAYER 5 START -->
            <h2 class="mt-5">PLAYER 5</h2>
            <div class="mb-3">
              <label for="p5fname" class="form-label">FIRST NAME</label>
              <input type="text" class="form-control" id="p5fname" name="p5fname" placeholder="Enter First Name">
            </div>
            <div class="mb-3">
              <label for="p5lname" class="form-label">LAST NAME</label>
              <input type="text" class="form-control" id="p5lname" name="p5lname" placeholder="Enter Last Name">
            </div>
            <div class="mb-3">
              <label for="p5ign" class="form-label">IGN</label>
              <input type="text" class="form-control" id="p5ign" name="p5ign" placeholder="Enter in-game name">
            </div>
            <div class="mb-3">
              <label for="PlayerDiscordID" class="form-label"> Discord ID</label>
              <input type="text" class="form-control" id="PlayerDiscordIDInput" name="p5dc" placeholder="Enter Discord ID">
            </div>
            <div class="mb-3">
              <label for="PlayerFriendCode" class="form-label">Friend Code</label>
              <input type="text" class="form-control" id="PlayerFriendCodeInput" name="p5fc" placeholder="Enter Friend Code">
            </div>
            <div class="mb-3">
              <label for = "p5rank" class="form-label">CURRENT SPLATOON RANK</label>
              <select class="form-select" id="p5rank" name="p5rank">
                <option selected>Select Rank</option>
                <option value="1">C-</option>
                <option value="2">C</option>
                <option value="3">C+</option>
                <option value="4">B-</option>
                <option value="5">B</option>
                <option value="6">B+</option>
                <option value="7">A-</option>
                <option value="8">A</option>
                <option value="9">A+</option>
                <option value="10">S</option>
                <option value="11">S+</option>
                <option value="12">X 0-500</option>
                <option value="13">X 501-1000</option>
                <option value="14">X 1001-1500</option>
                <option value="15">X 1501-2000</option>
                <option value="16">X 2001-2500</option>
                <option value="17">X 2501-3000</option>
              </select>
              <div class="mb-3 justify-content-center" style="position:relative">
                <label for="roles" class="form-label pt-3">PREFERRED TEAM ROLES</label>
                <!--<div class="mb-3" style="margin-left: 50px;">
                  
                  <input type="checkbox" class="form-check-input" id="p5front-line" value="Front-line">
                  <label class="form-check-label" for="front-line">Front-line</label>

                  <input type="checkbox" class="form-check-input" id="p5slayer" style="margin-left:25px;" value="Slayer">
                  <label class="form-check-label" for="slayer" style="margin-left:50px">Slayer</label>
                </div>
                <div class="mb-3" style="margin-left: 50px;">
                  <input type="checkbox" class="form-check-input" id="p5mid-line" value="Mid-Line">
                  <label class="form-check-label" for="mid-line"style="margin-left:1px">Mid-line</label>

                  <input type="checkbox" class="form-check-input" id="p5skirmisher" style="margin-left:37px;" value="Skirmsher">
                  <label class="form-check-label" for="skirmisher"style="margin-left:60px">Skirmisher</label>
                </div>
                <div class="mb-3" style="margin-left: 50px;">
                  <input type="checkbox" class="form-check-input" id="p5back-line" value="Back-line">
                  <label class="form-check-label" for="back-line">Back-line</label>

                  <input type="checkbox" class="form-check-input" id="p5support"style="margin-left:30px;" value="Support">
                  <label class="form-check-label" for="support"style="margin-left:50px">Support</label>
                </div>-->
                <select class="form-select" name="p5role">
                  <option selected>Select Role</option>
                  <option value="Front-line">Front-line</option>
                  <option value="Slayer">Slayer</option>
                  <option value="Mid-Line">Mid-Line</option>
                  <option value="Skirmisher">Skirmisher</option>
                  <option value="Back-Line">Back-Line</option>
                  <option value="Support">Support</option>
                </select>
              </div>

              <div class="mb-3 justify-content-center" style="position:relative">
                <label for = "p5type" class="form-label">PLAYER TYPE</label>
                <div class="mb-3" style="margin-left: 50px;">
                  <input type="radio" class="form-check-input" id="cap" name="p5type">
                  <label class="form-check-label" for="p5type">Captain</label>
                </div>

                <div id="p6start"></div> 
                <!-- for scrolling... dont question why this is here -->
                
                <div class="mb-3" style="margin-left: 50px;">
                  <input type="radio" class="form-check-input" id="cocap" name="p5type">
                  <label class="form-check-label" for="p5type">Co-Captain</label>
                </div>
                
                <div class="mb-3" style="margin-left: 50px;">
                  <input type="radio" class="form-check-input" id="mem" name="p5type">
                <label class="form-check-label" for="p5type">Member</label>
                </div>
                
              </div>
            </div>

            <!-- PLAYER 6 START -->
            <h2 class="mt-5">PLAYER 6</h2>
            <div class="mb-3">
              <label for="p6fname" class="form-label">FIRST NAME</label>
              <input type="text" class="form-control" id="p6fname" name="p6fname" placeholder="Enter First Name">
            </div>
            <div class="mb-3">
              <label for="p6lname" class="form-label">LAST NAME</label>
              <input type="text" class="form-control" id="p6lname" name="p6lname" placeholder="Enter Last Name">
            </div>
            <div class="mb-3">
              <label for="p6ign" class="form-label">IGN</label>
              <input type="text" class="form-control" id="p6ign" name="p6ign" placeholder="Enter in-game name">
            </div>
            <div class="mb-3">
              <label for="PlayerDiscordID" class="form-label"> Discord ID</label>
              <input type="text" class="form-control" id="PlayerDiscordIDInput" name="p6dc" placeholder="Enter Discord ID">
            </div>
            <div class="mb-3">
              <label for="PlayerFriendCode" class="form-label">Friend Code</label>
              <input type="text" class="form-control" id="PlayerFriendCodeInput" name="p6fc" placeholder="Enter Friend Code">
            </div>
            <div class="mb-3">
              <label for = "p6rank" class="form-label">CURRENT SPLATOON RANK</label>
              <select class="form-select" id="p6rank" name="p6rank">
                <option selected>Select Rank</option>
                <option value="1">C-</option>
                <option value="2">C</option>
                <option value="3">C+</option>
                <option value="4">B-</option>
                <option value="5">B</option>
                <option value="6">B+</option>
                <option value="7">A-</option>
                <option value="8">A</option>
                <option value="9">A+</option>
                <option value="10">S</option>
                <option value="11">S+</option>
                <option value="12">X 0-500</option>
                <option value="13">X 501-1000</option>
                <option value="14">X 1001-1500</option>
                <option value="15">X 1501-2000</option>
                <option value="16">X 2001-2500</option>
                <option value="17">X 2501-3000</option>
              </select>

              <div class="mb-3 justify-content-center" style="position:relative">
                <label for="roles" class="form-label pt-3">PREFERRED TEAM ROLES</label>
                <!--<div class="mb-3" style="margin-left: 50px;">
                  
                  <input type="checkbox" class="form-check-input" id="p6front-line" value="Front-line">
                  <label class="form-check-label" for="front-line">Front-line</label>

                  <input type="checkbox" class="form-check-input" id="p2slayer" style="margin-left:25px;" value="Slayer">
                  <label class="form-check-label" for="slayer" style="margin-left:50px">Slayer</label>
                </div>
                <div class="mb-3" style="margin-left: 50px;">
                  <input type="checkbox" class="form-check-input" id="p6mid-line" value="Mid-Line">
                  <label class="form-check-label" for="mid-line"style="margin-left:1px">Mid-line</label>

                  <input type="checkbox" class="form-check-input" id="p6skirmisher" style="margin-left:37px;" value="Skirmsher">
                  <label class="form-check-label" for="skirmisher"style="margin-left:60px">Skirmisher</label>
                </div>
                <div class="mb-3" style="margin-left: 50px;">
                  <input type="checkbox" class="form-check-input" id="p6back-line" value="Back-line">
                  <label class="form-check-label" for="back-line">Back-line</label>

                  <input type="checkbox" class="form-check-input" id="p6support"style="margin-left:30px;" value="Support">
                  <label class="form-check-label" for="support"style="margin-left:50px">Support</label>
                </div>-->
                <select class="form-select" name="p6role">
                  <option selected>Select Role</option>
                  <option value="Front-line">Front-line</option>
                  <option value="Slayer">Slayer</option>
                  <option value="Mid-Line">Mid-Line</option>
                  <option value="Skirmisher">Skirmisher</option>
                  <option value="Back-Line">Back-Line</option>
                  <option value="Support">Support</option>
                </select>
              </div>

              <div class="mb-3 justify-content-center" style="position:relative">
                <label for = "p6type" class="form-label">PLAYER TYPE</label>
                <div class="mb-3" style="margin-left: 50px;">
                  <input type="radio" class="form-check-input" id="cap" name="p6type">
                  <label class="form-check-label" for="p6type">Captain</label>
                </div>
                
                <div class="mb-3" style="margin-left: 50px;">
                  <input type="radio" class="form-check-input" id="cocap" name="p6type">
                  <label class="form-check-label" for="p6type">Co-Captain</label>
                </div>
                
                <div class="mb-3" style="margin-left: 50px;">
                  <input type="radio" class="form-check-input" id="mem" name="p6type">
                <label class="form-check-label" for="p6type">Member</label>
                </div>
                
              </div>
            </div>


            <div style="text-align: right;"><div class="fixed ">
              <a href="#p1start" class="btn btn-primary justify-content-end">TO TOP</a>
              <button style= "background-color: #ef216c;" type="submit" class="btn btn-primary justify-content-end">REGISTER</button>
            </div>
            
          </form>

        </div>
      </div>
    </div>
  </body>

{% endblock %}